<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Texas Hold'em simulator</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
th { text-align: center }
td.numcell { text-align: right }
td.zero { color: lightgrey }
.summary { font-weight: bold }
</style>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//code.highcharts.com/highcharts.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.min.js"></script>
</head>

<body>
<div ng-app="simulatorApp" ng-controller="simulatorController" class="container-fluid">

<h1>Texas Hold'em Simulator</h1>

<div class="row"><div class="col-xs-12">
<form>

<div class="form-group">
<button ng-click="compute()" class="btn btn-primary">Compute</button>
<a href="/simulate" class="btn btn-warning">Reset</a>
</div>

<div class="form-group">
<label for="playercount">Players</label>
<input id="playercount" type="text" name="players" ng-model="playerCount" class="form-control"/>
<button type="button" class="btn btn-default" ng-click="fewerPlayers()">Fewer</button>
<button type="button" class="btn btn-default" ng-click="morePlayers()">More</button>
</div>

<div class="form-group">
<label>Your cards</label> <div class="form-control" ng-bind-html="displayYourCards()"></div>
<button type="button" class="btn btn-warning" ng-click="deleteOneYourCard()" ng-disabled="yourCardsEmpty()">Delete</button>
<button ng-repeat="suit in legalSuits" type="button" class="btn btn-default" ng-click="setYourPendingSuit(suit)" ng-class="yourSuitButtonClasses(suit)" ng-disabled="yourCardsFull()"><span ng-bind-html="displaySuit(suit)"></span></button>
<button ng-repeat="rank in legalRanks" type="button" class="btn btn-default" ng-click="setYourPendingRank(rank)" ng-class="yourRankButtonClasses(rank)" ng-disabled="yourCardsFull()">{{rank}}</button>
<br/>
<button type="button" class="btn btn-default" ng-click="yourCardsRandom()" ng-disabled="yourCardsFull()">Random</button>
<button ng-click="compute()" class="btn btn-primary">Compute</button>
</div>

<div class="form-group">
<label>Table cards</label> <div class="form-control" ng-bind-html="displayTableCards()"></div>
<button type="button" class="btn btn-warning" ng-click="deleteOneTableCard()" ng-disabled="tableCardsEmpty()">Delete</button>
<button ng-repeat="suit in legalSuits" type="button" class="btn btn-default" ng-click="setTablePendingSuit(suit)" ng-class="tableSuitButtonClasses(suit)" ng-disabled="tableCardsFull()"><span ng-bind-html="displaySuit(suit)"></span></button>
<button ng-repeat="rank in legalRanks" type="button" class="btn btn-default" ng-click="setTablePendingRank(rank)" ng-class="tableRankButtonClasses(rank)" ng-disabled="tableCardsFull()">{{rank}}</button>
<br/>
<button type="button" class="btn btn-default" ng-click="flopRandom()" ng-disabled="tableCards.length >= 3">Random flop</button>
<button type="button" class="btn btn-default" ng-click="turnRandom()" ng-disabled="tableCards.length >= 4">Random turn</button>
<button type="button" class="btn btn-default" ng-click="riverRandom()" ng-disabled="tableCardsFull()">Random river</button>
<button ng-click="compute()" class="btn btn-primary">Compute</button>
</div>

<div class="form-group">
<label for="simcount">Simulations</label>
<input id="simcount" type="text" name="simcount" ng-model="simulationCount" class="form-control"/>
</div>

</form>
</div></div>
