<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Texas Hold'em hole cards</title>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<style>
th { text-align: center }
td.numcell { text-align: right }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
</head>
<body>
<div ng-app="startingCardsApp" ng-controller="StartingCardsController">
<div class="container-fluid">
<h1>Texas Hold'em hole cards</h1>

<div class="row col-xs-12">
<div class="form-group">
<label for="playerCount">Players</label>
<input type="text" id="playerCount" ng-model="players" class="form-control"/>
</div>
<div class="form-group">
<label for="handsToPlay">Hands to simulate</label>
<input type="text" id="handsToPlay" ng-model="handsToPlay" class="form-control"/>
</div>
<div class="form-group">
<button ng-click="simulate()" ng-disabled="started" class="btn btn-primary">Simulate</button>
Simulation {{status()}}
</div>
</div>

<div class="row col-xs-12">
<h2>Results</h2>
<table class="table table-bordered table-condensed">
<tr><th rowspan="2">Rank</th><th rowspan="2">Cards</th><th colspan="3">Average pot win (versus prior)</th></tr>
<tr><th>You</th><th>Best opponent</th><th>Random opponent</th></tr>
<tr ng-repeat="result in results">
<td class="numcell">{{$index + 1}}</td>
<td>{{result.Cards}}</td>
<td class="numcell">{{result.PotsPercentageWon | number : 1}}% ({{result.PotsWonVersusPrior | number : 2}})</td>
<td class="numcell">{{result.BestOpponentPotsPercentageWon | number : 1}}% ({{result.BestOpponentPotsWonVersusPrior | number : 2}})</td>
<td class="numcell">{{result.RandomOpponentPotsPercentageWon | number : 1}}% ({{result.RandomOpponentPotsWonVersusPrior | number : 2}})</td>
</tr>
</table>
</div>
</div>
</div>

<script>
var app = angular.module('startingCardsApp', []);

app.controller('StartingCardsController', function($scope, $http) {
    $scope.players = 7;
    $scope.handsToPlay = 10000;
    $scope.results = [];
    $scope.started = false;
    $scope.requestsMade = 0;
    $scope.resultsPending = 0;
    $scope.errors = 0;

    $scope.status = function() {
        if (!$scope.started) { return "not started"; }
        if ($scope.resultsPending > 0) {
            return "in progress (" + $scope.resultsPending + " of " + $scope.requestsMade + " requests pending" + ($scope.errors > 0 ? ("; " + $scope.errors + " errors - see console for details") : "") + ")"; }
        return "complete (reload page to restart)";
    };

    $scope.simulateOne = function(rank1, rank2, samesuit) {
        var url = "/startingcards/sim?rank1=" + rank1 + "&rank2=" + rank2 + "&samesuit=" + samesuit + "&players=" + $scope.players + "&handstoplay=" + $scope.handsToPlay;
        $http.get(url).then(function (response) {
            $scope.onResult(rank1, rank2, samesuit, response.data);
        }, function (response, status) {
            $scope.onError(rank1, rank2, samesuit, response, status);
        });
        $scope.requestsMade += 1;
        $scope.resultsPending += 1;
    };

    $scope.simulate = function() {
        $scope.started = true;
        var ranks = ['A','2','3','4','5','6','7','8','9','10','J','Q','K'];
        // JavaScript "for (i in ranks)" results in i being a string!?!?
        for (i = 0; i < ranks.length; i++) {
            for (j = 0; j < ranks.length; j++) {
                if (j > i) { break; } // Avoid duplicates
                $scope.simulateOne(ranks[i], ranks[j], false);
                if (i != j) {
                    $scope.simulateOne(ranks[i], ranks[j], true);
                }
            }
        }
    };

    $scope.onResult = function (rank1, rank2, samesuit, result) {
        result.Cards = rank1 + rank2 + (samesuit ? "s" : "");
        var avgPotsWon = result.PotsWon / result.HandCount
        result.PotsPercentageWon = 100.0 * avgPotsWon;
        result.PotsWonVersusPrior = avgPotsWon * $scope.players;
        var avgBestOppPotsWon = result.BestOpponentPotsWon / result.HandCount;
        result.BestOpponentPotsPercentageWon = 100.0 * avgBestOppPotsWon;
        result.BestOpponentPotsWonVersusPrior = avgBestOppPotsWon / (($scope.players - 1) / $scope.players);
        var avgRandOppPotsWon = result.RandomOpponentPotsWon / result.HandCount;
        result.RandomOpponentPotsPercentageWon = 100.0 * avgRandOppPotsWon;
        result.RandomOpponentPotsWonVersusPrior = avgRandOppPotsWon * $scope.players;
        $scope.results.push(result);
        $scope.results.sort(function(a,b) {return b.PotsWon - a.PotsWon});
        $scope.resultsPending -= 1;
    };

    $scope.onError = function (rank1, rank2, samesuit, error, status) {
        $scope.errors += 1;
        console.log("Got error for " + rank1 + rank2 + samesuit + ": " + status + "\n" + JSON.stringify(error));
    };
});
</script>

</body></html>
